# Gradle
*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

# IntelliJ / Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/caches/
.DS_Store

# Kotlin
*.class
*.jar
*.war
*.aar

# Keystore / signing
*.jks
*.keystore
release/
key.properties

# OS
.DS_Store
Thumbs.db
